{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}

    {% endblock%}
    </title>
    <link rel="stylesheet" href ="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>ACADEMIC ISSUE TRACKING SYSTEM</h1>
        <p>Secure your degree with us together we can</p> 
    </header>

    <nav>
        <a href="{% url 'users:home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout_user' %}">Logout</a>
            <a href="{% url 'issues:student_dashboard' %}">Dashboard</a>
        {% else %}
            <a href="#Login">Login</a>
        {% endif %}
    </nav>
    
    {% block content %}

    {% endblock %}

    <footer>
        <p>&copy; 2025 Academic Issue Tracking System. All rights reserved.</p>
    </footer>
    <script src='{% static 'javascript/main.js' %}'></script>
</body>
</html>
