{% extends 'layout.html' %}

{% block title %}
register_lecturer
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Lecturer Register</h1>
        <form method="post" action="/register/lecturer/">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
            <br>
            <h3 class="c-black">Already have an account?</h3>
            <div class="dropdown">
                <a href="{% url 'users:login_lecturer' %}">Login</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}