{% extends 'layout.html' %}

{% block title %}
Submit complaint
{% endblock %}

{% block content %}
<body>
    <div class="container">
      <h1>STUDENT COMPLAINT</h1>
      <form id="studentForm" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>
  
        <label for="Student Number">Student Number:</label>
        <input type="number" id="number" name="number" required>
  
        <label for="Student Registration Number">Student Registration Number:</label>
        <input type="text" id="registration_number" name="registration_number" required>
  
        <label for="email">Student Email:</label>
        <input type="email" id="email" name="email" required>
  
        <label for="phone">Student WhatsApp Number:</label>
        <input type="tel" id="phone" name="phone" required>
        
        <label for="college">College:</label>
        <input type="text" id="college" name="college" required>
  
        <label for="course">Course:</label>
        <input type="text" id="course" name="course" required>
  
        <label for="Course Unit">Course Unit:</label>
        <input type="text" id="course_unit" name="course_unit" required>
  
        <label for="Lecturer Email">Lecturer Email:</label>
        <input type="email" id="lecturer_email" name="lecturer_email" required>
  
        <label for="essay">What would be your issue? (Max 500 words):</label>
        <textarea id="essay" name="essay" rows="5" required></textarea>
  
        <!-- File Upload Section -->
        <label for="file">Upload an Image or PDF:</label>
        <input type="file" id="file" name="file" accept="image/*,application/pdf" onchange="previewFile()">
  
        <img id="photo" alt="Uploaded Image Preview">
        <iframe id="pdfViewer"></iframe>
  
        <button type="submit">Submit complaint</button>
      </form>
      <p id="responseMessage"></p>
    </div>
</body>  
{% endblock %}

