<!DOCTYPE html>
<html lang="en" >
    <header>
        <title>Navigation</title>
        <link rel="stylesheet" href="styles.css">
    </header>

    <body>
        <h1>This is the about page</h1>

        <nav class="navbar"> <!--are used for a set of navigation links---->
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class="active" href="about.html">About</a></li>
            
            </ul>
        </nav>

        <main>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea voluptatum illo laborum explicabo tempora velit sequi dolor illum, cupiditate culpa, rem suscipit soluta asperiores? Quam consectetur iure quo rerum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea voluptatum illo laborum explicabo tempora velit sequi dolor illum, cupiditate culpa, rem suscipit soluta asperiores? Quam consectetur iure quo rerum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea voluptatum illo laborum explicabo tempora velit sequi dolor illum, cupiditate culpa, rem suscipit soluta asperiores? Quam consectetur iure quo rerum!</p>


        </main>
    </body>
</html>