.container {
    text-align: center;
    margin-top: 50px;
    height: 500px;
}

.container h2 {
    font-size: 2rem;
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-group {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b3b0b0;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
}

.submit-button{
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    background-color: aquamarine;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0d1beb;
}

.container p {
    font-size: 1rem;
    color: #555;
}

.container-span {
    color: #78d8df;
    text-decoration: none;
}

.login-container a:hover{
    text-decoration: underline;
    color: #0d1beb;
}

.logo {
    text-align: center;
    margin: 24px 0 12px 0;
}
