.page-container{
    justify-content: center;
    background-color: #9737e6d7;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container{
    justify-content: center;
    background-color: #a386bb;
    padding: 140px 30px;
    align-content: center;
}

.signup-container{
    background-color: #a386bb;
    padding: 140px 30px;
    border-radius: 8px;
    width: 400px;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 2);
}

.text{
    color: #614194;
    font-size: 48px;
    font-weight: 700;
}

.signup-underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.input-group{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}

.input-group label{
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: purple;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #5e2a8a;
}

/* Login link styling */
.login-link {
    margin-top: 1px;
    text-align: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
