/* Container for the dashboard */
.dashboard-container {
    padding: 20px;
    text-align: left;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.dashboard-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.dashboard-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.dashboard-container p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Course units container */
.course-units-container {
    margin-top: 20px;
    color: black;
}

.course-units-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid #333;
    flex: 1;
    text-align: left;
}

.course-units-name-header{
    flex: 1;
    text-align: left;
    font-weight: bold;
}

.course-units-status-header{
    flex: 1;
    text-align: right;
    font-weight: bold;
}

.course-units-list {
    list-style-type: none;
    padding: 0;
}

.course-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: black;
}

/* Status-specific styles */
.course-unit.resolved {
    background-color: lightgreen;
    color: green;
}

.course-unit.pending {
    background-color: rgb(223, 223, 153);
    color: rgb(236, 164, 69);
}

.course-unit.denied {
    background-color: lightcoral;
    color: red;
}

.submit-issue-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(228, 215, 228);
    color: rgb(54, 46, 56);
    border: none;
    border-radius: 5px;
    align-items: center;
}

.submit-issue-button:hover {
    background-color: #7b6eb4;
}